header{
    font-family: 'Silkscreen', cursive; 
    display: block;
}

header .navbar-brand-h{
    font-weight: 700;
    white-space: nowrap;
    color:rgb(237, 148, 45);
    font-size:1.3rem;
}
header .navbar-collapse-h{
    font-weight:400;
    font-size:1rem;
}

header .bi-clipboard-data{
    white-space: nowrap;
}
header .header-text{
    white-space: nowrap;
}

header a{
    text-decoration: none;
}

header .mypage-h{
    color:gray;
    text-decoration: none;
    cursor:pointer;
    text-align: left;
}

header #search-form{
    font-family: 'Nanum Gothic', sans-serif;
}

.header-search-form{
    display:flex;
}


  @media (max-width: 500px) {
    .header-text{
        display:none;
    }
  }