header{
    /* font-family: 'Jua', sans-serif; */
    font-family: 'Silkscreen', cursive; 
    font-weight: 400;
    display: block;
}

.navbar-brand{
    /* font-family: 'Jua', sans-serif; */
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
    white-space: nowrap;
    color:rgb(237, 148, 45);
}

.bi-clipboard-data{
    white-space: nowrap;
}
.header-text{
    white-space: nowrap;
}


@media (max-width: 500px) {
    .header-text{
        display:none;
    }
  }

  a{
    text-decoration: none;
  }


  #search-form{
    font-family: 'Nanum Gothic', sans-serif;
  }