main {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    text-align: center;
}


.btn-outline-secondary{
    align-items: center;
    margin:auto;
    width: 50%;
    text-align: center;
}
