.container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding: 10%;
    text-align: center;
}

.container .row {
    height: 100%;
}

.container .row .col-3 {
    background-color: #fff;
    height: 100%;
}

.container .row .col-md {
    background-color: #fff;
    height: 100%;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

h3 {
    text-align: center;
    margin: 50px;
}

.form-check-input {
    text-align: center;
}

#goBack {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
}

.form-check-label {
    font-size: 23px;
}

.question-none{
    display:none;
}
.question0-none{
    display:none;
}
.question1-none{
    display:none;
}
.question2-none{
    display:none;
}
.question3-none{
    display:none;
}
.question4-none{
    display:none;
}
.question5-none{
    display:none;
}
.question6-none{
    display:none;
}
.question7-none{
    display:none;
}
