body {
    font-family: 'Jua', sans-serif;
    font-size: 156.25%;
    /* 반응형 대응 */
    /* 1px=6.25% | 10px=62.5% | 16px=100% */
    text-align: center;
    /* padding-top: 10px; */
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
}

@media (min-width: 668px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    padding-top: 15%;
}

@media (min-width: 688px) {
    .wrapper {
        padding-top: 12%;
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding-top: 10%;
    }
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.9rem;
    font-weight: 400;
}

h3 {
    text-align: center;
    margin: 50px;
    font-size: 1.3rem;
}

.goBack {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

.goBack-none {
    display: none;
}

.question-none {
    display: none;
}

.answer {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 100%;
    /* 27.5px */
}

.answer:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.glowPen:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: relative;
    left: 0;
    bottom: 0px;
    background: rgba(200, 125, 220, .6);
}

.answer:hover .glowPen:after {
    width: 100%;
    transition: width .3s;
}

.loading {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-size: cover;
}