body {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.bodys {
    font-family: 'Gowun Dodum', sans-serif;
    background-image: url(/static/img/s.webp);
    background-size: 100%;
}

.bodyd {
    background-color: #FAE4E8;
}

.bodyh {
    color: #1C3238;
    background-color: rgb(136, 135, 135);
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
}


.btnd {
    background-color: pink;
}


.btnh {
    color: orange;
    background-color: #1C3238;
}

.border {
    border-radius: 10px;
    background-color: #fff;
    border-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

.first {
    text-align: center;
}

.profile {
    margin-top: 50px;
}

.headers {
    width: 100%;
    justify-content: center;
}

.names {
    width:130px;
    height: 100px;
}

ul, li {margin: 3px; padding: 3px;
}