body {
    /* font-family: 'Do Hyeon'; */
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.bodys {
    background-color: #ecebc9;
}

.body-d {
    /* background-color: #ecebc9; */
    background-image:url('/static/img/bg_disney.png');
    background-size: 100% 100%;
    font-family: 'Gowun Dodum', sans-serif;
}

.bodyh {
    color: #1C3238;
    background-color: rgb(136, 135, 135);
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btns {
    background-color: #FAD820;
}

.btnd {
    background-color: pink;
}

.btnh {
    color: orange;
    background-color: #1C3238;
}

/* .border {
    border-radius: 10px;
    background-color: #fff;
    border-color: pink;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.first {
    text-align: center;
}

/* ########################################################### */
.container {
    padding-left:5%;
    padding-right:5%;
    padding-top:100px;
}

.name-d {
    color:white;
    font-weight:700
}

.border-d{
    padding:5%;
    background-color:white;
    border-style: dashed;
    border-width:5px;
    border-color:rgb(255, 161, 241);
    border-radius: 20px;
}
.border-d2{
    padding:20px;
    background-color:white;
    border-style: dashed;
    border-width:5px;
    border-color:rgb(161, 181, 255);
    border-radius: 20px;
}
.border-d3{
    padding:20px;
    /* background-color:white;
    border-style: dashed;
    border-width:5px;
    border-color:rgb(161, 255, 202);
    border-radius: 20px; */
}
.first-d{
    font-style: italic;
    font-weight: 600;
}

.mbti-d{
    font-weight: 600;
}

.matching-d{
    padding:20px;
    font-weight:600;
}

.btn-d{
    display:flex; 
    justify-content: space-evenly;
    padding:20px;
}

.btnd{
    width:40%
}
.profile > img{
    width:30vw;
}

ul,li {margin:3px; padding:3px;}