body {
    font-size: 156.25%;
    text-align: center;
}

main {
    font-family: 'Gowun Dodum', sans-serif;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.main-d {
    background-image: url('/static/img/testbg_disney.jpg');
    /* background-size: 100%; */
}

.main-s {
    background-image: url('/static/img/bg_simpson.png');
    /* background-size: 100%; */
}

.main-h {
    background-image: url('/static/img/bg_halloween.png');
    background-size: 100% 100%;
}

.container {
    width: 80vw;
    height: 80vh;
}

.question {
    /* padding-bottom: 0px; */
    width: 80%;
    height: 50vh;
    position: relative;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.question-block {
    display: block;
}


/* @media (min-width: 668px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
    }
} */


/* h1 { 
    font-size: 2.2rem;
    font-weight: 700;
} */

.h1-h {
    font-size: 4rem;
    font-family: 'Kirang Haerang', cursive;
    color: rgb(200, 110, 25);
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

.page-h {
    font-family: 'Kirang Haerang', cursive;
    color: rgb(200, 110, 25);
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

h2 {
    font-size: 1.9rem;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 1.3rem;
}

.goBack {
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    left: 10px;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
}

.goBack-none {
    display: none;
}

.question-none {
    display: none;
}

.answer {
    color: #aaa;
    margin-bottom: 10px;
    font-size: 100%;
    /* 27.5px */
}

.answer:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.glowPen:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: relative;
    left: 0;
    bottom: 0px;
    background: rgba(200, 125, 220, .6);
}

.glow-h>.glowPen:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: relative;
    left: 0;
    bottom: 0px;
    background: rgba(243, 139, 69, 0.6);
}

.glow-d>.glowPen:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: relative;
    left: 0;
    bottom: 0px;
    background: pink;
}

.glow-s>.glowPen:after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    position: relative;
    left: 0;
    bottom: 0px;
    background: rgba(255, 218, 34, 0.6);
}

.answer:hover .glowPen:after {
    width: 100%;
    transition: width .3s;
}

@media (max-width: 768px) {
    .wrapper {
        display: none;
    }
    .page {
        display: none;
    }
    .question {
        height: 50vh;
    }
    h2 {
        font-size: 1.5rem;
    }
    .answer {
        font-size: 1.3rem;
    }
    .goBack {
        font-size: 0.75rem;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.4rem;
        font-weight: 700;
    }
    .answer {
        font-size: 1.1rem;
        font-weight: 500;
    }
}