<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과모음</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/result.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- CDN Link (icon) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gowun+Dodum&family=Jua&family=Kirang+Haerang&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bodyh">

    <%- include('../common/header.ejs') %>

        <div class="row justify-content-around mt-5">
            <div class="allresult_first col-xs-6 col-md-4 pt-3 mb-3 row-d">
                <img src="/static/img/testResult_Halloween/1.png" alt="1">
                <div class="fs-1">확신의 관종 할리퀸 룩</div>
            </div>

            <div class="col-xs-6 col-md-4 pt-3 mb-3 row-d">
                <img src="/static/img/testResult_Halloween/2.png" alt="2">
                <div class="fs-1">생존마스터 슈퍼마리오 룩</div>
            </div>

            <div class="col-xs-6 col-md-4 pt-3 mb-3 row-d">
                <img src="/static/img/testResult_Halloween/3.png" alt="3">
                <div class="fs-1">동심의 스폰지밥 룩</div>
            </div>

            <div class="col-xs-6 col-md-4 pt-3 mb-3 row-d">
                <img src="/static/img/testResult_Halloween/4.png" alt="4">
                <div class="fs-1">Nerdy 매력 해리포터 룩</div>
            </div>

            <div class="col-xs-6 col-md-4 pt-3 mb-3 row-d">
                <img src="/static/img/testResult_Halloween/5.png" alt="5">
                <div class="fs-1">나는 자연인이다 좀비 룩</div>
            </div>
        </div>




        <!-- 뒤로 가기 버튼 -->
        <div class="justify-content-center mt-3">
            <button class="btn btn-dark fs-4 col-6" type="button" onclick="location.href='/mypage'">뒤로 가기</button></span>
        </div>

        <%- include('../common/footer.ejs') %>
</body>

</html>