<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- CDN Link (icon) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../common/header.ejs') %>

    <main>

        <div class="album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/static/img/main_Jelly.png">
                    <div class="card-body">
                      <p class="card-text">하찮은 젤리 테스트</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <button type="button" onclick="location.href='/start'" class="btn btn-outline-secondary">Go</button>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/static/img/main_Jelly.png">
                    <div class="card-body">
                      <p class="card-text">하찮은 젤리 테스트</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <button type="button" onclick="location.href='/start'" class="btn btn-outline-secondary">Go</button>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="/static/img/main_Jelly.png">
                    <div class="card-body">
                      <p class="card-text">하찮은 젤리 테스트</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <button type="button" onclick="location.href='/start'" class="btn btn-outline-secondary">Go</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

    </main>
    <%- include('../common/footer.html') %>
</body>
</html>