<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/css/mypage.css">
        <link rel="stylesheet" href="../../static/css/header.css">
        <!-- CDN Link (icon) -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- font -->
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gowun+Dodum&family=Jua&family=Kirang+Haerang&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    </head>

<body>
<%- include('../common/header.ejs') %>

    <main>
        마이페이지
        <d class="container d-flex row justify-content-center">

        <div class="card d-flex me-3 mb-3" style="width: 18rem;">
            <img src="/static/img/card_simpson.jpg" class="card-img-top" alt="card_simpson">
            <div class="card-body">
              <h5 class="card-title" onclick="location.href='/result_simpson'">심슨가족 테스트 결과 다시보기</h5>
              <p class="card-text">지난 테스트 결과 모든 테스트 유형 보기</p>
              <a onclick="location.href='/result_simpson'" class="btn btn-primary col mb-3">나의 테스트 결과</a>
              <a onclick="location.href='/allresult_simpson'" class="btn btn-primary col">모든 유형 보러가기</a>
              </div>
          </div>

          <div class="card me-3 mb-3" style="width: 18rem;">
            <img src="/static/img/card_disney.png" class="card-img-top" alt="card_disney">
            <div class="card-body">
              <h5 class="card-title">디즈니 공주 테스트 결과 다시보기</h5>
              <p class="card-text">지난 테스트 결과 모든 테스트 유형 보기</p>
              <a onclick="location.href='/result_disney'" class="btn btn-primary col mb-3">나의 테스트 결과</a>
              <a onclick="location.href='/allresult_disney'" class="btn btn-primary col">모든 유형 보러가기</a>
            </div>
          </div>
          
          <div class="card me-3" style="width: 18rem;">
            <img src="/static/img/card_halloween.jpg" class="card-img-top" alt="card_halloween">
            <div class="card-body">
                <h5 class="card-title">할로윈 코스튬 테스트 결과 다시보기</h5>
                <p class="card-text">지난 테스트 결과 모든 테스트 유형 보기</p>
                <a onclick="location.href='/result_halloween'" class="btn btn-primary col mb-3">나의 테스트 결과</a>
                <a onclick="location.href='/allresult_halloween'" class="btn btn-primary col">모든 유형 보러가기</a>
            </div>
          </div>

              <!-- </div>
            <div class="col" onclick="location.href='/result_simpson'">심슨결과</div>
            <div class="col" onclick="location.href='/result_disney'">디즈니결과</div>
            <div class="col" onclick="location.href='/result_halloween'">할로윈결과</div> -->
        </div>
    </main>

<%- include('../common/footer.ejs') %>
</body>


</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>