<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/result.css">
    <link rel="stylesheet" href="../../static/css/header.css">

    <!-- CDN Link (icon) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gowun+Dodum&family=Jua&family=Kirang+Haerang&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">

</head>

<body class="body-s">

    <%- include('../common/header.ejs') %>

        <div class="container">
            <div class="row justify-content-center">
                <!-- Result Image -->
                <div class="profile col-12">
                </div>
                <!-- Result Name -->
                <div class="border-s justify-content-center col-12 mt-2 mb-2">
                    <div class="col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s1.png" alt="header-1"></div>
                    <p class="name fs-1 mt-2"></p>
                    <div class="col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s2.png" alt="header-2"></div>

                </div>
                <!-- Result Description -->
                <div class="border-s text-start fs-4 mt-2 mb-3">
                    <div class="col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s1.png" alt="header-1"></div>
                    <ul class="first fs-2"></ul>
                    <div class="col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s2.png" alt="header-2"></div>
                    <ul class="second mt-2"></ul>
                    <ul class="third"></ul>
                    <ul class="fourth"></ul>
                    <ul class="fifth"></ul>
                </div>

                <!-- MBTI Info -->
                <div class="border-s d-grid fs-2 mbti-s">
                    <div class=" col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s1.png" alt="header-1"></div>
                    MBTI
                    <div class="mbti fs-2"></div>
                    <div class="col-12 d-flex justify-content-center"><img class="headers" src="/static/img/header-s2.png" alt="header-2"></div>
                </div>

                <!-- Good & Bad matching -->
                <div class="col-12 d-flex justify-content-center matching-s">
                    <div class="good col-6 fs-2 pt-3 me-3 col-lg-4"></div>
                    <div class="bad col-6 fs-2 pt-3 col-lg-4"></div>
                </div>
            </div>
        </div>

        <div class="text-center col-12">
            <br>
            <!-- Kakao talk 공유 버튼 -->
            <a id="kakao-link-btn" href="javascript:sendLink()">
                <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png">
            </a>
            <!-- url 복사 버튼 -->
            <span class="button"><a href="#" onclick="clip(); return false;"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="dark" class="bi bi-share" viewBox="0 0 16 16">
            <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z">
            </svg></a></span>

            <!-- 다시하기, 메인으로 가기 버튼 -->
            <!-- 500px보다 클때 -->
            <div class="btn-s">
                <button class="btns btn btn-dark fs-4 col-6" type="button" onclick="location.href='/start_simpson'">테스트 다시하기</button></span>
                <button class="btns btn btn-dark fs-4 col-6" type="button" onclick="location.href='/'">메인으로 가기</button></span>
            </div>
            <!-- 500px보다 작을때 -->
            <div class="btn-ss">
                <button class="btns btn btn-dark fs-4 col-6" type="button" onclick="location.href='/start_simpson'">다시하기</button></span>
                <button class="btns btn btn-dark fs-4 col-6" type="button" onclick="location.href='/'">메인으로</button></span>
            </div>

            <!-- JS script tag below -->
            <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
            <script>
                Kakao.init("59a4be849355fc1bc58ae7023a9c2724");

                // function sendLink() {
                //   Kakao.Link.sendCustom({
                //     templateId: 84301,
                //     templateArgs: {
                //     title: "{{ page.title }}",
                //     description: "{{ page.excerpt }}",
                //     url : "{{ page.url }}",
                //     },
                //   });
                // }

                function sendLink() {
                    Kakao.Link.sendDefault({
                        objectType: 'feed',
                        content: {
                            title: '심슨 가족 테스트',
                            description: '심슨 가족 테스트 함께해요!',
                            imageUrl: 'http://115.85.180.118:8080/static/img/main_simpson.png',
                            link: {
                                mobileWebUrl: 'http://115.85.180.118:8080/start_simpson',
                                webUrl: 'http://115.85.180.118:8080/start_simpson',
                            },
                        },
                    })
                }
            </script>
            <script type="text/javascript">
                function clip() {
                    var url = '';
                    var textarea = document.createElement("textarea");
                    document.body.appendChild(textarea);
                    url = window.document.location.href;
                    textarea.value = url;
                    textarea.select();
                    document.execCommand("copy");
                    document.body.removeChild(textarea);
                    alert("URL이 복사되었습니다.")
                }
            </script>
            <script src="static/js/result_simpson.js"></script>

            <%- include('../common/footer.ejs') %>
</body>

</html>