<!-- Doctype HTML5 -->
<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디즈니 공주</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/start.css">
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- CDN Link (icon) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@700&family=Gowun+Dodum&family=Jua&family=Kirang+Haerang&family=Nanum+Gothic&family=Nanum+Pen+Script&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>


<body>
    <%- include('../common/header.ejs') %>

        <div id="__next">
            <div class="img-container">
                <br>
                <img src="static/img/main_disney.png">
                <br>
                <hr>
            </div>
            <div class="GongbangLayout_gongbang_layout__j1NE2">
                <div class="GongbangLayout_gongbang_area__hBLdq">
                    <div class="css-14r34si">

                        <div class="css-19xmcei">
                            <div class="css-x1enyj">
                                <h1 class="css-1jwn9ph">디즈니 공주 테스트</h1>
                                <div class="css-1a49ggk">
                                    <span class="Icon_icon_area__V6uX2">
                                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
                                    <path d="M15 10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" fill="#75787B"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 12a8 8 0 1 1 16 0 8 8 0 0 1-16 0Zm8-7a7 7 0 0 0-5.468 11.37C7.242 15.226 8.805 14 12 14s4.757 1.225 5.468 2.37A7 7 0 0 0 12 5Z" fill="#75787B"></path>
                                </svg>
                            </span>
                                    <p class="css-uzhtim">kdt B조</p>
                                </div>
                                <div class="css-1a49ggk">
                                    <span class="Icon_icon_area__V6uX2">
                                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.25 6.462c0-.766.842-1.195 1.474-.828l9.544 5.538.002.001a.953.953 0 0 1 0 1.654h-.002l-9.544 5.539c-.632.367-1.474-.062-1.474-.828V6.462ZM16.704 12 7.25 6.515v10.97L16.704 12Z" fill="#75787B"></path>
                                </svg>
                            </span>
                                    <p class="css-uzhtim">16.3만</p>
                                </div>
                                <div class="css-1a49ggk">
                                    <span class="Icon_icon_area__V6uX2">
                                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img">
                                    <circle cx="12" cy="12" r="7.5" stroke="#75787B"></circle>
                                    <path d="M11.208 13.093V8.208h1.125v4.452l2.658 2.587-.785.764-2.998-2.918Z" fill="#75787B"></path>
                                </svg>
                            </span>
                                    <p class="css-uzhtim">약 4분</p>
                                </div>
                            </div>
                        </div>


                        <p class="css-1lwiq77">
                            <span><br></span><span>내가 디즈니 등장인물이 된다면 무슨 캐릭터일까?<br></span>
                            <span>바로 알아보러 가자-! 😻<br></span></p>
                        <div class="css-1moq0v3">
                            <div class="css-m7zl8e">
                                <a cursor="pointer" x-ptm-en="web_interaction" x-ptm-as="topic click" x-ptm-pos="topic #1" x-ptm-cont="동물" x-ptm-n="1" class="css-1bvx17o">
                                    <p class="css-1ada81g">#</p>
                                    <p class="css-1y06947">&nbsp;디즈니</p>
                                </a>
                                <a cursor="pointer" x-ptm-en="web_interaction" x-ptm-as="topic click" x-ptm-pos="topic #2" x-ptm-cont="유형테스트" x-ptm-n="2" class="css-1bvx17o">
                                    <p class="css-1ada81g">#</p>
                                    <p class="css-1y06947">&nbsp;성격유형테스트</p>
                                </a>
                            </div>
                        </div>
                        <br>
                        <div class="css-1x1sa4f">
                            <button type="button" class="btn btn-dark" onclick="location.href='/test_disney'" style="width:95%">테스트 시작</button>
                        </div>
                    </div>

                    <!-- @media -->
                    <div class="css-8flipp">
                        <img src="static/img/main_disney.png">
                    </div>
                </div>

                <div class="css-1x1sa4f media-button">
                    <button type="button" class="btn btn-dark" onclick="location.href='/test_disney'" style="width:90%">테스트 시작</button>
                </div>

            </div>
        </div>

        <%- include('../common/footer.ejs') %>
</body>


</html>
